<!-- Default form login -->
<div class="d-flex justify-content-center">
    <form [formGroup]="loginForm">
        <div class="text-center border border-light p-5" >
            <p class="h4 mb-4">LOGIN PAGE</p>
            <!-- Email -->
            <div class="row">
                <div class="align-self-center col-md-2">
                    <label>Username</label>
                </div>
                <div class="col-md-10">
                    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" formControlName="userName" placeholder="Please enter username">
                </div>
            </div>
            <ng-container *ngIf="loginForm.controls['userName'].invalid && loginForm.controls['userName'].touched">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="d-flex align-items-start col-md-10">
                        <small class="text-danger">Username is required</small>
                    </div>
                </div> 
            </ng-container>
            <div class="row">
                <div class="align-self-center col-md-2">
                    <label>Password</label>
                </div>
                <div class="col-md-10">
                    <input type="email" id="defaultLoginFormPassWord" class="form-control mb-4" formControlName="passWord" placeholder="Please enter password">
                </div>
            </div>
            <ng-container *ngIf="loginForm.controls['passWord'].invalid && loginForm.controls['passWord'].touched">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="d-flex align-items-start col-md-10">
                        <small class="text-danger">Password is required</small>
                    </div>
                </div> 
            </ng-container>
            <!-- Password -->
            <!-- Sign in button -->
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary" (click)="logIn()">Sign in</button>
                </div>
            </div>
        </div>
      </form>  
</div>  