<div class="container border">
    <div class="form-group row">
        <div class="col-md-12"><h3>SEARCH</h3></div>
        <div class="col-md-1"><label>Order No</label></div>
        <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="orderNoSearch"/></div>
        <div class="col-md-1"><label>Supplier Name</label></div>
        <div class="col-md-3"><input type="text" class="form-control" [(ngModel)] = "supplierNameSearch" /></div>
        <div class="col-md-1"><label>Stock Site</label></div>
        <div class="col-md-3"><input type="text" class="form-control" [(ngModel)] = "stockSiteSearch" /></div>
        <div class="col-md-1"><label>Stock Name</label></div>
        <div class="col-md-3"><input type="text" class="form-control" [(ngModel)]="stockNameSearch" /></div>
        <div class="col-md-1"><label>Order Date</label></div>
        <div class="col-md-3"><input type="date" class="form-control" [(ngModel)]="orderDateSearch"/></div>
        <div class="col-md-1"><label>Sent Mail?</label></div>
        <div class="col-md-3"><input type="checkbox" class="form-check-input" [(ngModel)]="sentMailSearch"/></div>
    </div>
</div>
<!--
<div>
    <button type="button" class="btn btn-primary float-right m-2" data-toggle="modal" 
    (click)="openDialog()" data-backdrop="static" data-keyboard="false">Add purchase order</button>
</div>

<div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
-->
<div class="paged-table">
    <div>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" (change)="onTableSizeChange($event)">
            <option *ngFor="let size of this.tableSizes">
                {{size}}
            </option>
        </select>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Order No</td>
                <td>Supplier Name</td>
                <td>Stock Site</td>
                <td>Stock Name</td>
                <td>Order Date</td> 
                <td>Sent Mail</td>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let x of this.poList | searchfilter: orderNoSearch: supplierNameSearch: stockSiteSearch: stockNameSearch: orderDateSearch: sentMailSearch | paginate:{
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count}; let i = index">
                <td ><a routerLink="/purchase-order/detail-po/{{x.OrderNo}}">{{x.OrderNo}}</a></td>
                <td>{{x.SupplierNoNavigation.SupplierName}}</td>
                <td>{{x.StockSiteNavigation.StockSite1}}</td>
                <td>{{x.StockName}}</td>
                <td>{{x.OrderDate | date:'MM/dd/yyyy'}}</td>
                <td><input type="checkbox" [checked]="this.x.SentMail" disabled/></td>
            </tr>
        </tbody>
    </table>
    <div>
        <pagination-controls previousLabel="Pre" nextLabel="Next" (pageChange)="onTableDataChange($event)">

        </pagination-controls>
    </div>
</div>