.container{
    border-style: solid;
    border-width: 1px;
}

.col-md-1{
    margin-top: 20px;
}
.col-md-3{
    margin-top: 20px;
}
.form-check-input{
    width: 20px;
    height: 20px;
}
.paged-table{
    margin-top: 50px;
}
.table-striped{
    border: black solid;
    margin-top: 5px;
}
.font-weight{
    font-weight: bold;
}
.form-select{
    width: 100px;
    font-size: medium;
}
.col-md-12{
    margin-bottom: 10px;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    background: black;
    opacity: 0.3;
}
.inner{
    padding: 12px;
}
