<div class="container">
    <div class="row">
        <div class="col-md-3">Supplier</div>
        <div class="col-md-3"><input class="form-control" value="{{PurchaseOrder.SupplierNo}}"/></div>
        <div class="col-md-3">Supplier Name</div>
        <div class="col-md-3"><input class="form-control" value="{{PurchaseOrder.SupplierName}}"/></div>
    </div>
    <div class="row">
        <div class="col-md-3">Stock site</div>
        <div class="col-md-3"><input class="form-control"/></div>
        <div class="col-md-3">Stock name</div>
        <div class="col-md-3"><input class="form-control"/></div>
    </div>
    <div class="row">
        <div class="col-md-3">Order Date</div>
        <div class="col-md-3"><input class="form-control"/></div>
        <div class="col-md-3">Address</div>
        <div class="col-md-3"><input class="form-control"/></div>
    </div>
    <div class="row">
        <div class="col-md-3">Note</div>
        <div class="col-md-3"><input class="form-control"/></div>
        <div class="col-md-3">County</div>
        <div class="col-md-3"><input class="form-control"/></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3">PostCode</div>
        <div class="col-md-3"><input class="form-control"/></div>
    </div>
</div>