<table class="table table-striped" id="listPolTable">
    <thead>
        <tr>
            <td></td>
            <td>PO Num</td>
            <td>Supplier</td>
            <td>Stock Site</td>
            <td>PostCode</td>
            <td>County</td>  
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="checkbox" [checked]="po.SentMail" disabled/></td>
            <td ><p>{{po.OrderNo}}</p></td>
            <td ><p>{{po.SupplierNoNavigation.SupplierName}}</p></td>
            <td ><p>{{po.StockSiteNavigation.StockSite1}}</p></td>
            <td ><p>{{po.PostCode}}</p></td>
            <td ><p>{{po.County}}</p></td>
            <td ></td>
            <td><button type="button" routerLink="" data-keyboard="false" >&#10003;</button></td>
        </tr>
    </tbody>
    <tfoot>
        <tr></tr>
    </tfoot>

</table>