<form [formGroup]="polListForm">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Part Number</td>
                    <td>Part Description</td>
                    <td>Manufacturer</td>
                    <td>Order Date</td>
                    <td>Qty Ordered</td>
                    <td>Buy Price</td>  
                    <td>Memo</td>
                    <td>Amount</td>
                    <td></td>
                </tr>
            </thead>
            <tbody formArrayName="pol">
                <tr *ngFor="let x of this.polListForm.get('pol').controls; let i = index;" [formGroupName]="i">
                    <td id="partNo"><input formControlName="PartNo" class="form-control" [readonly]="disabled"/></td>
                    <td ><input formControlName="PartDescription" class="form-control"/></td>
                    <td ><input formControlName="Manufacturer" class="form-control"/></td>
                    <td id="orderDate">
                        <input type="text" formControlName="OrderDate" (change)="onChangeQtyAndPrice(this.polListForm.get('pol'),this.polListForm.get('pol').at(i), i)"/>
                        <ng-container  *ngIf="polListForm.get('pol').at(i).controls['OrderDate'].invalid && polListForm.get('pol').at(i).controls['OrderDate'].touched">
                            <small class="text-danger">*Order date is required and can not be greater than today</small>
                        </ng-container>
                    </td>
                    <td >
                        <input type="number" min="1" max="9999"  class="form-control"   
                     (change)="onChangeQtyAndPrice(this.polListForm.get('pol'),this.polListForm.get('pol').at(i), i)" formControlName="QuantityOrder"/>
                        <ng-container  *ngIf="polListForm.get('pol').at(i).controls['QuantityOrder'].invalid && polListForm.get('pol').at(i).controls['QuantityOrder'].touched">
                            <small class="text-danger">*Quantity order must > 0</small>
                        </ng-container>
                    </td>
                    <td >
                        <input type="number" min="1" class="form-control" 
                        (change)="onChangeQtyAndPrice(this.polListForm.get('pol'),this.polListForm.get('pol').at(i), i)"  formControlName="BuyPrice"/>
                        <ng-container *ngIf="polListForm.get('pol').at(i).controls['BuyPrice'].invalid && polListForm.get('pol').at(i).controls['BuyPrice'].touched">
                            <small class="text-danger">*Buy price order must > 0</small>
                        </ng-container>
                    </td>
                    <td ><input formControlName="Memo" class="form-control"/></td>
                    <td ><input class="form-control" formControlName="Amount" [readonly]="disabled"/></td>
                    <td><button type="button" (click)="btnDeleteClick(this.polListForm.get('pol').at(i))" 
                        [disabled]="disableAll" class="btn btn-light mr-1" data-keyboard="false">-</button></td>
                </tr>        
            </tbody>
            <tfoot formArrayName="polAdd">
                <tr *ngFor="let y of this.polListForm.get('polAdd').controls; let i = index;" [formGroupName]="i">
                    <td>
                        <select class="form-select form-select-sm mb-3" formControlName="PartNo">
                            <option value="">CHOOSE PART NO</option>
                            <option *ngFor="let part of parts" value={{part.PartNo}}>
                                {{part.PartName}}
                            </option>
                        </select>
                        <ng-container *ngIf="polListForm.get('polAdd').at(i).controls['PartNo'].invalid && polListForm.get('polAdd').at(i).controls['PartNo'].touched">
                           <small class="text-danger"> *PartNo is required</small> 
                        </ng-container>
                    </td>
                    <td ><input class="form-control" formControlName="PartDescription"/></td>
                    <td ><input class="form-control" formControlName="Manufacturer"/></td>
                    <td style="width: 200px;">
                        <input type="datetime-local" formControlName="OrderDate"/>
                        <ng-container  *ngIf="polListForm.get('polAdd').at(i).controls['OrderDate'].invalid && polListForm.get('polAdd').at(i).controls['OrderDate'].touched">
                            <small class="text-danger">*Order date is required and can not be greater than today</small>
                        </ng-container>
                    </td>
                    <td >
                        <input type="number" min="1" max="9999"  class="form-control" formControlName="QuantityOrder"/>
                        <ng-container  *ngIf="polListForm.get('polAdd').at(i).controls['QuantityOrder'].invalid && polListForm.get('polAdd').at(i).controls['QuantityOrder'].touched">
                            <small class="text-danger">*Quantity order must > 0</small>
                        </ng-container>
                    </td>
                    <td >
                        <input type="number" min="1" class="form-control" formControlName="BuyPrice"/>
                        <ng-container *ngIf="polListForm.get('polAdd').at(i).controls['BuyPrice'].invalid && polListForm.get('polAdd').at(i).controls['BuyPrice'].touched">
                            <small class="text-danger">*Buy price order must > 0</small>
                        </ng-container>
                    </td>
                    <td ><input  class="form-control" formControlName="Memo"/></td>
                    <td ></td>
                    <td><button type="button" (click)="btnAddClick(this.polListForm.get('polAdd').at(i))" 
                        class="btn btn-light mr-1" [disabled]="disableAll"  data-keyboard="false">Add</button></td>
                </tr>
            </tfoot>
        </table>

    </form>
<h5 style="text-align: right;">Total purchase order: <span>{{total}}</span></h5>
<div class="add-new-line-container"><a routerLink="#" (click)="AddLineBtnClick()" 
    routerLinkActive="active" [class.disabled] = "disableAll"> Add new purchase order line</a></div>