#partNo{
    width: 200px;
}
.add-new-line-container{
    text-align: right;
}
.disabled{
    pointer-events: none;
    cursor: not-allowed;
}
#orderDate{
    width: 200px;
}
.form-select{
    font-size: medium;
}