<ng-container [ngSwitch]="code">
    <ng-container class="container" *ngSwitchCase="401">
        <h1 class="text-danger">ERROR <span>{{code}}</span></h1>
        <h3>"Lack of permission, please contact your admin"</h3>
    </ng-container>
    <ng-container class="container" *ngSwitchCase="403">
        <h1 class="text-danger">ERROR <span>{{code}}</span></h1>
        <h3>"Lack of permission, please contact your admin"</h3>
    </ng-container>
    <ng-container class="container" *ngSwitchCase="404">
        <h1 class="text-danger">ERROR <span>{{code}}</span></h1>
        <h3>"The requested URL was not found on this server"</h3>
    </ng-container>
</ng-container>