<table class="table table-striped" id="listPolTable">
    <thead>
        <tr>
            <td></td>
            <td>OrderNo</td>
            <td>Supplier</td>
            <td>Stock Site</td>
            <td>PostCode</td>
            <td>County</td>  
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="checkbox" [checked]="po.sentMail" disabled/></td>
            <td ><p>{{po.orderNo}}</p></td>
            <td ><p>{{po.supplierNoNavigation.supplierName}}</p></td>
            <td ><p>{{po.stockSiteNavigation.stockSite1}}</p></td>
            <td ><p>{{po.postCode}}</p></td>
            <td ><p>{{po.county}}</p></td>
            <td ></td>
            <td><button type="button" routerLink="" data-keyboard="false" >&#10003;</button></td>
        </tr>
    </tbody>
    <tfoot>
        <tr></tr>
    </tfoot>

</table>